/* Estilo del contenedor de registro */
.register-container {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgb(251, 232, 242); /* Color similar al del contenedor de login */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 70px;
}

/* Estilo del formulario dentro del registro */
.register-container form {
    display: flex;
    flex-direction: column;
}

/* Estilo del título del formulario */
.register-container h3 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

/* Estilo de los campos de entrada */
.register-container .input-container {
    margin-bottom: 30px;
}

.register-container .label {
    display: block;
    margin-bottom: 10px;
    color: #d36c6c; /* Color rosado más intenso */
    font-size: 18px;
}

.register-container input {
    width: 100%;
    padding: 20px;
    border: 1px solid #d3aeba; /* Rosado pastel */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

.register-container input:focus {
    border-color: #f06292; /* Rosado más intenso */
    outline: none;
}

/* Estilo del botón */
.register-container button {
    width: 100%;
    padding: 15px;
    background-color: #fbc4d9; /* Rosado pastel */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
}

.register-container button:hover {
    background-color: #f8b3b3; /* Rosado más intenso */
}

/* Estilo del enlace de contraseña olvidada */
.register-container .forgot-password {
    text-align: right;
    margin-top: 20px;
}

.register-container .forgot-password a {
    color: #f48fb1; /* Rosado pastel */
    text-decoration: none;
    font-size: 18px;
}

.register-container .forgot-password a:hover {
    text-decoration: underline;
}
